@import '../styles/variable.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $header-background-gray;
    width: 100%;
    height: 50px;
}

.wrapper {
    display: flex;
}

.sine,
.scene,
.about,
.explore,
.featured,
.logo {
    margin-left: $standard-margin;
}

.sine{
    margin-right: $standard-margin;
}